#race {
  text-align: center;
  background-color: #242021;
}

h1,
h2,
h3,
h5 {
  color: #a2a2a2;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

span {
  font-size: 18px;
}

.race-btn,
.restart-btn {
  padding: 5px 50px;
  margin: 0 10px;
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  outline: none;
}

.race-field {
  width: 100%;
  height: 50vh;
  padding: 30px 0;
}

.track-img {
  background-image: url('img/raceTrack.jpg');
  background-size: contain;
  height: 100%;
  position: relative;
}

.car1 {
  background-image: url('img/car1.gif');
}

.car2 {
  background-image: url('img/car2.gif');
}

.car1,
.car2 {
  background-position: center;
  background-size: cover;
  height: 21vh;
  width: 17%;
}

.car1-color {
  color: #ffebf7;
  font-weight: bolder;
}

.car2-color {
  color: #ba0000;
  font-weight: bolder;
}

.count-down {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 100px;
  z-index: 1111;
}

.flag {
  opacity: 0;
  position: absolute;
  background-image: url(img/finish.gif);
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 1111;
}

tr td {
  padding: 13px;
  border: 2px solid #ddd;
  margin: 0 10px;
}

.previousRezult {
  display: none;
  margin-bottom: 60px;
}

.previous {
  padding: 0;
}
